
html
    head
        title Chess Game
    style.
        #grid-container{
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
        width: 480px;
        height: 480px;
        margin: 0 auto;

        border-color: black;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-radius: 5px;
        }
        body{
            background-color: white;
        }
        .white{
            background-color: white;
        }
        .black{
            background-color: black;
        }
        .grid-item{
            padding: 20px;
            color: red;
        }

        #content{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    body
        h1 Welcome to Chess!
        div#content
            div#grid-container
                div(id = "a8" class= "grid-item white")=a8
                div(id ="b8", class= "grid-item black")=b8
                div(id ="c8", class= "grid-item white")=c8
                div(id ="d8", class= "grid-item black")=d8
                div(id ="e8", class= "grid-item white")=e8
                div(id ="f8", class= "grid-item black")=f8
                div(id ="g8", class= "grid-item white")=g8
                div(id ="h8", class= "grid-item black")=h8
                div(id ="a7", class= "grid-item black")=a7
                div(id ="b7", class= "grid-item white")=b7
                div(id ="c7", class= "grid-item black")=c7
                div(id ="d7", class= "grid-item white")=d7
                div(id ="e7", class= "grid-item black")=e7
                div(id ="f7", class= "grid-item white")=f7
                div(id ="g7", class= "grid-item black")=g7
                div(id ="h7", class= "grid-item white")=h7
                div(id ="a6", class= "grid-item white")=a6
                div(id ="b6", class= "grid-item black")=b6
                div(id ="c6", class= "grid-item white")=c6
                div(id ="d6", class= "grid-item black")=d6
                div(id ="e6", class= "grid-item white")=e6
                div(id ="f6", class= "grid-item black")=f6
                div(id ="g6", class= "grid-item white")=g6
                div(id ="h6", class= "grid-item black")=h6
                div(id ="a5", class= "grid-item black")=a5
                div(id ="b5", class= "grid-item white")=b5
                div(id ="c5", class= "grid-item black")=c5
                div(id ="d5", class= "grid-item white")=d5
                div(id ="e5", class= "grid-item black")=e5
                div(id ="f5", class= "grid-item white")=f5
                div(id ="g5", class= "grid-item black")=g5
                div(id ="h5", class= "grid-item white")=h5
                div(id ="a4", class= "grid-item white")=a4
                div(id ="b4", class= "grid-item black")=b4
                div(id ="c4", class= "grid-item white")=c4
                div(id ="d4", class= "grid-item black")=d4
                div(id ="e4", class= "grid-item white")=e4
                div(id ="f4", class= "grid-item black")=f4
                div(id ="g4", class= "grid-item white")=g4
                div(id ="h4", class= "grid-item black")=h4
                div(id ="a3", class= "grid-item black")=a3
                div(id ="b3", class= "grid-item white")=b3
                div(id ="c3", class= "grid-item black")=c3
                div(id ="d3", class= "grid-item white")=d3
                div(id ="e3", class= "grid-item black")=e3
                div(id ="f3", class= "grid-item white")=f3
                div(id ="g3", class= "grid-item black")=g3
                div(id ="h3", class= "grid-item white")=h3
                div(id ="a2", class= "grid-item white")=a2
                div(id ="b2", class= "grid-item black")=b2
                div(id ="c2", class= "grid-item white")=c2
                div(id ="d2", class= "grid-item black")=d2
                div(id ="e2", class= "grid-item white")=e2
                div(id ="f2", class= "grid-item black")=f2
                div(id ="g2", class= "grid-item white")=g2
                div(id ="h2", class= "grid-item black")=h2
                div(id ="a1", class= "grid-item black")=a1
                div(id ="b1", class= "grid-item white")=b1
                div(id ="c1", class= "grid-item black")=c1
                div(id ="d1", class= "grid-item white")=d1
                div(id ="e1", class= "grid-item black")=e1
                div(id ="f1", class= "grid-item white")=f1
                div(id ="g1", class= "grid-item black")=g1
                div(id ="h1", class= "grid-item white")=h1

            div(id='text_and_form')
                p Last Move:
                p=last_m
                p Turn:
                p=turn
    
                form(action="/", method="post")
                    label(for="ispace") Move from:
                    input(type="text", id="ispace", name="ispace")
                    label(for="fspace") Move to:
                    input(type="text", id="fspace", name="fspace")
                    button(type="submit", name="submit") Make Move
                button(action='/reset', method='post', id="move_button") Reset

                p#test hey
        script.
            document.getElementById("move_button").addEventListener("click", say_hello);
            
             function say_hello()
             {
                 document.getElementById("test").innerHTML = "hello";
             }